.App {
  text-align: center;
  background-color: #d9d6ed;
  padding-right: 22px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 90%;
  display: inline-flex;
  justify-content: space-between;

}

.vendor2 {

  width: 805;
  background-color: #000000;
  height: 20%;
  text-align: left;
  color: aliceblue;
  padding-bottom: 12px;
  padding-top: 8px;
  padding-left: 15px;
  border-radius: 9px;
  margin-left: 4%;
  margin-right: 1%;

}

.vendor1 {

  width: 80%;
  background-color: #fff5f5;
  height: 10%;
  text-align: center;
  color: rgb(0, 0, 0);
  padding-bottom: 7px;
  padding-top: 1px;
  border-radius: 9px;
  margin-left: 10%;
  margin-right: 1%;
}

.vendor {
  width: 805;
  background-color: #000000;
  height: 20%;
  text-align: center;
  color: aliceblue;
  padding-bottom: 12px;
  padding-top: 8px;
  border-radius: 9px;
  margin-left: 4%;
  margin-right: 1%;
}

.stakeInfo {
  text-align: left;
}

.Input {
  text-align: left;
  width: 95%;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #1a09ba;
  border-radius: 5px;
  outline: none;

}

.button {
  width: fit-content;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(231, 234, 226);
text-decoration: none;
  color: #000000;
  /* Set text color */
  cursor: pointer;
  /* Set cursor to pointer on hover */
  transition: background-color 0.3s ease;
  /* Add transition effect for background color */
  margin-top: 10px;
  margin-right: 20px;
  /* Add space between buttons */
}
/* CSS for the disabled button */
.button:disabled {
  opacity: 0.5; /* Reduce opacity for disabled state */
  cursor: not-allowed; /* Change cursor to not-allowed */
  background-color: #ccc; /* Change background color */
  color: #999; /* Change text color */
  border: 1px solid #999; /* Add border */
  /* Add additional styling to make it more visible */
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Convert text to uppercase */
}


/* Remove margin from last button */
.button:last-child {
  margin-right: 0;
  /* Set margin-right to 0 for the last button */
}

/* Style for the button on hover */
.button:hover {
  background-color: #00b300;
  /* Change background color on hover */
}

.Input:focus {
  border-color: #3fd51a;
  box-shadow: 20 20 25px rgba(255, 255, 255, 0.5);
}

.link{
  text-decoration: none;
}

.psys {
  text-align: left;
  display: flex;
  padding-left: 22px;
  padding-right: 25px;
  justify-content: space-between;
  padding-top: 20px;
}

.footer{
  margin-top: auto;
} 